@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: rgba(17, 135, 238, 0.336);
}




